@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

h1 .display-3 {
  font-size:3.75em;
  text-align: left;
}
* {
  padding: 0;
  margin: 0;
}

body {
    background-color: #FCFBFA;
    font-family: 'Source Sans Pro', sans-serif;
    
}
/*--- Nav Scrolling Offset --*/
.offset:before {
  height: 4rem;
  margin-top: -4rem;
  content: "";
  display: block;
}

/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
  padding: 1rem;
}

/*============= NAVIGATION =============*/

.navbar {
  padding: .7rem 1rem;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 700;
  letter-spacing: .1rem;
  transition: background-color .5s ease 0s;
  background-color: #FE8A00 !important;
}
.navbar-brand img {
  height: 2rem;
}
.svg-inline--fa.fa-w-14 {
  color: #414345;
  font-size: 1.6rem;
}
.navbar-nav li {
  padding-right: .8rem;
}
.navbar-nav .nav-link {
  color: #414345;
  padding-top: .8rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #FFFFFF;
}
.navbar.solid {
  background: rgba(0, 0, 0, 0.7)!important;
  transition: background-color 1s ease 0s;
}
/*--- DROP DOWN MENU CONTENT --*/
.dropdown-menu, .dropdown-item {
  font-size: .9rem;
  font-weight: 700!important;
  background-color: #FE8A00 !important;
  border: 0;
  color: #414345;
}
.dropdown-menu.show {
  margin-top: .75rem!important;
  border-radius: 0;
  transition: background-color .5s ease 0s;
}
.dropdown-submenu {
  transition: background-color .5s ease 0s;
}
.dropdown-menu.no-space-top {
  margin-top: 0!important;
}
.dropdown-menu:hover, .dropdown-item:hover,
.dropdown-menu:focus, .dropdown-item:focus,
.dropdown-toggle:active, .dropdown-toggle:focus {
  color: #FFFFFF !important;
}
.dropdown-submenu.solid, .dropdown-menu.show.solid {
  background: rgba(0, 0, 0, 0.7)!important;
  transition: background-color 1s ease 0s;
}
/*JUMBOTRON CONTENT HERE */
.jumbotron{
    background-image: url("../img/intersection.png") ;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0;
    color: white;
    
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

#jumbotron-narrow {
  background-image: url("../img/jumbo_narrow2.png") ;
  background-size: auto;
  height: 40vh;
  width: 100%;
  margin: 0;
  color:rgba(20, 172, 175, 1);
  text-align: center;
  padding-top: 40px;
  border: 0;

}
.btn-primary {
  border-color: transparent;
  padding: 0;
  background-color: transparent;
}
.btn-primary:hover {
  border-color: transparent;
  padding: 0;
  background-color: transparent;
}
/*STYLING FOR HR*/
.my-4 {
    width: 20%;
    align-content: left;
    height: 5px solid #414345;
}

.vertical-center {
min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
min-height: 100vh; /* These two lines are counted as one :-)       */

min-height: calc(100% - 64px);  /*  */
min-height: calc(100vh - 64px); /* */

display: flex;
align-items: center;
}

.store img{
    position: relative;
    width: auto !important;
    height: 67px !important;
    display: inline-block;
    margin-right: 15px;

}

/*START OF FEATURES STYLING*/

/*START OF CHOICES STYLING*/
.row {
  margin: 22px 100px;
}
.card {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: relative;
  text-transform: uppercase;
  border: transparent;
  cursor: pointer;
}
.card-img-overlay {
  font-weight: 700;
  background-color: rgba(20, 172, 175, .5);
  /*opacity: 0.5;*/
  height: 4em;
  /*position: relative;*/
  bottom: 0px;
}
.card-title {
    color: #FAE8A6;
    font-size: 200%;
}
.blue-box {
  margin-top: -20px;
  background-color: #5BBDC8;
  height: 132px;
}

/*FOOTER CODE TEST GOES HERE*/
footer{
	position: relative;
	bottom: 0;
}
 
.footer-distributed{
	background-color: #FE8A00;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
/* Footer left */
 
.footer-distributed .footer-left{
	width: 30%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
}
 
/* PROJECT TITLE TBD */
 
.footer-distributed .footer-left img{
	width: 30%;
}
 
 
/* Footer links */
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-group{
	color:  #ffffff;
	font-size: 1.2em;
	font-weight: 700;
	margin: 0 auto;
}
 
/* Footer Center */
 
.footer-distributed .footer-center{
	width: 35%;
}
 
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #33383b;
	text-decoration: none;;
}
 
 
/* Footer Right */
 
.footer-distributed .footer-right{
	width: 30%;
}
 
.footer-distributed .footer-group{
	line-height: 20px;
	color:  #ffffff;
	font-size: .9em;
	font-weight: normal;
	margin: 0 auto;
}
 
.footer-distributed .footer-group span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
/* You can remove below code if you don't want Footer to be responsive */
 
 
@media (max-width: 880px) {
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
 
}



/*MEDIA QUERIES SECTION HERE */
/*Emi, I was toying around here, if it stops being responsive look here first*/
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}

@media (min-width: 992px){

.col-md-8 {
    width: 66.666667%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.col-md-6 {
    width: 50%;
}
}
@media (min-width: 768px){
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    }
}